################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mssql/.vs/mssql/v14
/mssql/bin/Debug
/mssql/obj/Debug
/mssql/mssql.sqlproj.user
/mssql/mssql.sln
/mssql/mssql.sqlproj
/mssql/mssql.dbmdl
/mssql/mssql.jfm
